{% extends "base6.html" %}
{% load staticfiles %}

{% block title %} 绿地•临沂城际空间站 {% endblock title %}

{% block content %}

<div class="container">


<div id="demo" class="carousel slide" data-ride="carousel">
 
  <!-- 指示符 -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
    <li data-target="#demo" data-slide-to="5"></li>
  </ul>
 
  <!-- 轮播图片 -->
  <div class="carousel-inner">

		<div class="carousel-item active">
			<img src="http://qavzndkac.bkt.clouddn.com/image/1%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200517174534.png" alt="avatar" style="max-width:100%; border-radius: 20px">-
		</div>
		<div class="carousel-item ">
			<img src="http://qavzndkac.bkt.clouddn.com/image/1%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200517174604.png" alt="avatar" style="max-width:100%; border-radius: 20px">-
		</div>
		<div class="carousel-item ">
			<img src="http://qavzndkac.bkt.clouddn.com/image/1%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200517174610.png" alt="avatar" style="max-width:100%; border-radius: 20px">-
		</div>
		<div class="carousel-item ">
			<img src="http://qavzndkac.bkt.clouddn.com/image/1%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200517174615.png" alt="avatar" style="max-width:100%; border-radius: 20px">-
		</div>
		<div class="carousel-item ">
			<img src="http://qavzndkac.bkt.clouddn.com/image/1%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200517174624.png" alt="avatar" style="max-width:100%; border-radius: 20px">-
		</div>
		<div class="carousel-item ">
			<img src="http://qavzndkac.bkt.clouddn.com/image/1%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200517174629.png" alt="avatar" style="max-width:100%; border-radius: 20px">-
		</div>
		
 </div>
  <!-- 左右切换按钮 -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
 
</div>

	<hr style="width: 100%;">
	<div class="row">
		<!--sm是等分一行，后面的数字代表列数，最大是12-->
        <div class="col-sm-6">
            <br>
            <form action="." method="post">
                {% csrf_token %}
                <div class="form-group">
                    <!-- 标签 -->
                    <label for="name">您的姓名</label>
                    <!-- 文本框 -->
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <!-- 标签 -->
                    <label for="phone">您的手机</label>
                    <!-- 文本框 -->
                    <input type="text" class="form-control" id="phone" name="phone" required>
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">填好了>></button>
                </form>
			</div>
		<div class="col-sm-6">
			<br>
			
			<h4>刘冻17686903334（微信同号）<br>微信号：gemian012</h4>
			<br><br>
			<h4>地址：</h4>
			<h4>温凉河路与站南街交汇向西500米路南（临沂高铁北站对面）</h4>
		</div>
    
    </div>
</div>

{% endblock content %}
