{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 写文章 {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form action="." method="post">
                {% csrf_token %}
                <div class="form-group">
                    <!-- 标签 -->
                    <label for="name">您的姓名</label>
                    <!-- 文本框 -->
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <!-- 标签 -->
                    <label for="phone">您的手机</label>
                    <!-- 文本框 -->
                    <input type="text" class="form-control" id="phone" name="phone" required>
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary">填好了>></button>
                </form>
        </div>
    </div>
</div>

{% endblock content %}
